*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0px 15px;
  overflow: auto;
}

.container-big {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
  overflow: auto;
  
 
}

.fl {
  float: left;
}

.menu-panel {
  
}
.menu-panel li {
  float: left;

}
.menu-panel li a {
 
  text-transform: uppercase;
  padding: 15px 13px;
}

.header-logo {
  float: left;

  
}

.header-button {
  color: white;
  float: right;
  background-color:#018ABE ;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  width: 155px;
  height: 36px;
  left: 1455px;
  top: 43px;
}

.preview {
  
  font-family: 'El Messiri', sans-serif;
}

.blocks {
  font-family: 'El Messiri', sans-serif;
}

.block-img li {
  float: left;
  margin: 105px;
  width: 100px;
  height: 100px;
}

.blockimg3 li {
  float: left;
  margin: 105px;
  width: 100px;
  height: 100px;
}