*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

@font-face {
  font-family: "proximanova_regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
    src: local("proximanova_regular"),
         url("../fonts/proximanova_regular.ttf") format("ttf"),
         url("../fonts/proximanova_regular.woff") format("woff"),
         url("../fonts/proximanova_regular.woff2") format("woff2"),   
}

body {
  background: #162831;
}

.navigation li a {
  font-family: 'proximanova_regular';  
}

.firstlook {
  font-family: 'El Messiri', sans-serif;
}

.clearfix {
  clear: both;
}

.fl {
  float: left;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 13px;
  overflow: auto;
}

.container p {
  position: absolute;
  width: 241px;
  height: 34px;
  left: 842px;
  top: 305px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
}

.container h1 {
  margin-top: 40px;
  position: absolute;
  width: 587px;
  height: 180px;
  left: 669px;
  top: 379px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  text-align: center;
}

.container-big {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 13px;
  overflow: auto; 
}

.navigation {
  color: white; 
}

.navigation li {
  float: left;  
}

.navigation li a {
  float: left;
  padding: 0 13px;
}

.header-button {
color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px;
gap: 10px;
position: absolute;
width: 155px;
height: 36px;
left: 1455px;
top: 43px;
background: #018ABE;
border-radius: 3px;
}

.firstlook {
  color: white;
  margin-top: 79px;
}

.secondlook {
  float: right;
  color: white;
  margin-top: 121px;
  font-family: 'El Messiri', sans-serif;  
}

.secondlook h1 {
  position: absolute;
  width: 336px;
  height: 59px;
  left: 792px;
  top: 897px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
}

.secondbox {
  width: 100%;
  max-width: 1300px;
}

.firstbox li {
  float: right;
  margin: 4px;
  color: white;
  width: 415px;
  height: 260px;
  display: inline;
  margin-top: 100px;
}

.secondbox ul {
  margin-bottom: 785px;
}


